.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-title-img {
  width: auto;
  height: 40px;
}

.blog-title {
  color: #efb8c8;
}
